<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Parser </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="http://adblockers.opera-mini.net/css_block/default-domainless.css" type="text/css" />
      <style>
        .content-main{
          position: absolute;
          font-size: 20px;
          top: 45%;
          left: 35%;
        }
      </style>
  </head>


  <body style="background-color: #CCFF99;">

    <div style="text-align:center;" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <h1 class="sidebar-brand">
                <a href="">PTT BEAUTY & IG PARSER</a>
            </h1>
            <h2>
                <a href="{% url 'ptt_show' %}">前往PTT parser頁面</a>
            </h2 >
            <h2>
                <a href="{% url 'ig_search' %}">前往IG parser頁面</a>
            </h2 >
        </ul>
    </div>

  
  </body>
</html>
